<section class="card border-0 shadow-lg p-4 mb-4 bg-white">
  <div class="container mt-2">
    <h3 class="h2 pb-3 pt-3 text-primary text-center">
      <i class="fas fa-envelope"></i>
      Contacto
    </h3>



         <div class="h6 p-2">
          <p class="h6 p-2">
            <i class="fa-solid fa-user text-primary"></i>
            {{persona.nombre}}
          </p>

          <p class="h6 p-2 ">
            <i class="fa-solid fa-phone text-primary"></i>
            {{persona.celular}}

          </p>

          <p class="h6 p-2">
            <i class="fa-solid fa-envelope text-primary"></i>
            {{persona.email}}
          </p>

          <p class="h6 p-2">
            <i class="fa-solid fa-house text-primary"></i>
            {{persona.ubicacion}}
          </p>

        </div>
      </div>

      <div class="m-5 text-center">
        <h5 class="h4 text-center">¿Tenes algo maravilloso en mente? </h5>
        <p class="text-center">Contáctame asi lo hacemos realidad</p>

        <button
          class="btn btn-primary"
          data-bs-toggle="modal"
          data-bs-target="#modal-contacto"
        >
        Contactame
        </button>

      </div>


  <!--Modal contacto-->



</section>
