/*-----------------General----------------*/
* {
    box-sizing: border-box;
}

body {
    background-color: bisque;
}
section.card {
    margin: 2% 2%;
    border-radius: 32px;
    padding: 20px;
}

/*------------------- header ---------------------------*/
/*-------------header superior-----------------*/
.logo_arg{
    height: 80px;
}
.redes {
    font-size: 2.5rem;
}

button.redes {
    padding: 0;
    margin: 0;

}

/*-------------header inferior-----------------*/

#banner{
    border-radius: 32px 32px 0px 0px;
    width: 100%;
}


/*---------------------Cont My photo------------------------------*/
/*
.profile-image {
    position: relative;

}*/

.about_con {
    text-align: justify;
    padding: 2%;           
}
 

/*------------------------- Educación ----------------------------------*/

.educa {
    margin: 15px 0;
    float: right;
}

.img_educ {
    width: 100px;
}

.logos.educ {
    float: left;
}

.idiomas, .progress {
    width:80%;
    margin: auto;
    font-size: 1.3rem;
    height:30px;
}