<footer class="pie card border-0 p-4 bg-primary text-white"> <!--Listo-->

  <h3 class="h1 text-center p-2">{{persona.nombre}} </h3>
  <h5 class="text-center p-2">{{persona.titulo}}</h5>
  <div class="redes  text-center p-2">
    <button class="btn redes p-2 text-center text-white foot-red" >
      <a
        href="https://www.linkedin.com/in/marcos-daniel-mart%C3%ADnez-5a494724a/"
        target="_blank"
        title="linkedin"
      >
        <i class="fa-brands fa-linkedin text-white redes fa-2x"></i>
      </a>
    </button>

    <button class="btn redes p-2 text-center foot-red">
      <a
        href="https://github.com/MarcosDanielM"
        target="_blank"
        title="github"
      >
        <i class="fa-brands fa-github text-white redes fa-2x"></i>
      </a>
    </button>
  </div>
  <p class="text-center p-2">Todos los derechos reservados por Marcos Martinez - 2022</p>

</footer>
