<nav class="navbar sticky-top navbar-dark bg-dark">

  <div class="float-start">
    <div id="logo_der">
      <div class="logo_container">

        <img class="logo_arg" src="../../../assets/ap-icon.png" alt="Logo Argentina Programa">
        <span id="yopro">#YoProgramo</span>
      </div>
    </div>
  </div>

  <div  class="d-flex align-items-center justify-content-between pe-2" >
    <ul class="navbar-nav mr-auto">
        <li>
          <a
          href="https://www.linkedin.com/in/marcos-daniel-mart%C3%ADnez-5a494724a/"
          target="_blank"
          title="linkedin"
          class="nav-link hover pe-2"
          >
          <i class="text-primary fab fa-brands fa-linkedin redes fa-2x"></i>
          </a>
        </li>

        <li>
          <a
          href="https://github.com/MarcosDanielM"
          target="_blank"
          title="github"
          class="nav-link pe-2"
          >
          <i class="text-primary fab fa-brands fa-github redes fa-2x"></i>
        </a>
        </li>

      </ul>
      <app-login-btn></app-login-btn>
  </div>
</nav>
