<div class="modal" id="modal-eliminar">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="d-flex align-items-end p-3">
        <button type="button" class="btn-close ms-auto" data-bs-dismiss="modal"></button>
      </div>

        <form class="p-3">

          <div class="form-box">
            <h5 class="text-center text-primary">¿Esta seguro que desea eliminar este elemento permanentemente?</h5>

          </div>


          <!--Btn para guardar-->
          <div class="p-2 text-center">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Eliminar elemento</button>
          </div>
          <div class="p-2 text-center">
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancelar</button>
          </div>
        </form>
    </div>
  </div>
</div>
